# ===========================
# Keil MDK Build Files
# ===========================

Objects/
Listings/
RTE/

*.axf
*.bin
*.hex
*.map
*.o
*.crf
*.d
*.dep
*.i
*.lst
*.lnp
*.sct
*.bak
*.tmp

# ===========================
# Keil User Files
# ===========================

*.uvguix.*
*.uvoptx

# ===========================
# Debug
# ===========================

*.log

# ===========================
# OS
# ===========================

Thumbs.db
Desktop.ini

# ===========================
# VSCode
# ===========================

.vscode/

# ===========================
# Temporary
# ===========================

*.swp
*.swo
*.DS_Store